.panel-primary>.panel-heading {
    background-color: #1e90ff;
    border-color: black;
}

.panel-primary>.panel-heading:hover {
    background-color: #FA6400;
    border-color: black;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #FA6400;
}

.modal-header {
    background-color: #FA6400;
}

.input-group-addon:first-child {
    background-color: #1e90ff;
}

#myCarousel {
    margin-bottom: 10px;
}

#send{
    background-color: #1e90ff;
}

#ourcourse{
    background-color: #1e90ff;
}


a {
    color: #fa6900;
    text-decoration: none;
}

a {
    background-color: transparent;
}