body{

height: auto;
height: auto;

}

.top
{
    margin-left:0px;
    margin-top:50px;
}

.container .intro {

    margin-top: 60px;
}


.catlink{

    margin-left: 15px;

}

.well {
    min-height: 250px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}


#main-info{

    padding-left: 15px; 
}

#main-container{

    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

@media (min-width:979px) {
  #to-right{
    border-left: 1px solid #fa6900;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

