body {
    background-color: #f5f5f5;
}

.top {
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.container .intro {
    margin-top: 40px;
}

@media (min-width: 765px) {
    #text {
        margin-top: 0px;
    }
    #map-column {
        padding-left: 5px;
    }
    #canvas {
        padding-top: 1%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 0;
        margin: 0;
        margin-bottom: 1%;
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media (max-width: 766px) {
    #text {
        margin-top: 3%;
    }
    #canvas {
        padding-top: 1%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 1%;
    }
    #map-column {
        padding-left: 2%;
        padding-right: 2%;
    }
}

#text {
    text-align: justify;
}

#canvas {
    background: white;
}

#title {
    margin-top: 0px;
    margin-bottom: 30px;
}

#info {
    margin-top: 20px;
    text-align: center;
}

#main-container {
    margin-top: 2%;
}